Repository maneike/codeStats, pull requests merged in 2023-01, with the labels that each got.

#126 feat: frontend fileuploader update
  backend/api/views.py
  frontend/src/app.jsx
  frontend/src/components/FileUploader/FileUploader.jsx
  frontend/src/components/InputsWrapper/InputsWrapper.jsx
  frontend/src/components/ReceiversTitle/ReceiversTitle.jsx
  frontend/src/components/UploadForm/UploadForm.jsx
  frontend/src/components/UrlsForm/UrlsForm.jsx
  frontend/src/index.css
  frontend/src/services/postFiles.js
Labels: bug, front-end

#127 fix/fixed zip names and added exceptions
  backend/api/functions.py
  backend/api/tasks.py
Labels: back-end

#129 refactor: backend performance
  backend/api/tasks.py
Labels: Charts, refactor, back-end

#128 feat: vitest setup
  .github/workflows/tests.yml
  frontend/__test__/test-setup.js
  frontend/package.json
  frontend/src/components/FileUploader/__tests__/FileUploader.test.js
  frontend/src/components/NavBar/__tests__/NavBar.test.js
  frontend/vite.config.js
  frontend/yarn.lock
Labels: front-end, tests

#130 Feat/backend tests
  .pytest.ini
  backend/api/tests.py
  backend/api/tests/__init__.py
  backend/api/tests/microshell.zip
  backend/api/tests/test_endpoint.py
  backend/api/tests/test_functions.py
  backend/api/tests/test_models.py
  backend/api/tests/test_tasks.py
  backend/api/tests/test_urls.py
  backend/api/urls.py
  backend/codestatsapi/settings.py
  backend/manage.py
  backend/requirements.txt
Labels: back-end, tests
